extends layout

block content
  .col-sm-6
    form#additem
      .form-group
        label(for='itemName') Item Name
        input#itemName.form-control(type='text', placeholder='')
      .form-group
        label(for='description') Description
        input#description.form-control(type='text', placeholder='')
      .form-group
        label
          input#listopt(type='checkbox', checked='')
          = " List for trade!"
      button#addItemButton.btn.btn-default(type='submit', data-id=userToken._id) Add Item
